@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primaryButton: #3930d8;
    --defaultFontColor: white;
    --googleButtonColor: rgb(185, 28, 28);
}

*:focus {
    outline: none;
  }

body {
    background-color: rgb(241, 245, 241);
    }

.primary-button {
    background-color: var(--primaryButton);
    color: var(--defaultFontColor);
    border-radius: 9999px;
}

.google-button {
    background-color: var(--googleButtonColor);
}
