@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primaryButton: #3930d8;
    --defaultFontColor: white;
    --googleButtonColor: rgb(185, 28, 28);
}

*:focus {
    outline: none;
  }

body {
    background-color: rgb(241, 245, 241);
    }

.primary-button {
    background-color: var(--primaryButton);
    color: var(--defaultFontColor);
    border-radius: 9999px;
}

.google-button {
    background-color: var(--googleButtonColor);
}

.ribbon {
    position: absolute;
    top: -5px;
    right: 0;
    width: 150px;
    height: 22px;
    margin-right: -50px;
    margin-top: 13px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari prior 9.0 */
    transform: rotate(45deg); /* Standard syntax */
  }
